root = true

[*]
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.{js,jsx,ts,tsx}]
indent_style = tab
indent_size = 4

[*.{json,json5}]
indent_style = tab
indent_size = 4

[*.{swift,h,m}]
indent_style = tab
indent_size = 4

[devices.txt]
indent_style = tab
indent_size = 4

[*.bat]
end_of_line = crlf
